# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# npm
node_modules/

# Logs
*.log
